.login {
    width: 600px;
    height: 400px;
    background-color: gray;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
  }

.b {
     
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#personal{
  margin-left: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.button{
  margin-top: 7px;
  margin-left: 8px;
  display: block;
  margin-right: 10px;
}

.admin{
margin-left: 8px;
margin-top: 7px;
font-weight: bold;

}